@(message: String, district: District, login: Form[LoginData])
@import helper.twitterBootstrap._
    @main("Sign in · Marker") {
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/login.css")">
        <div class="row-fluid">
        @helper.form(action = routes.Login.submit(), 'id -> "myForm", 'class -> "span6 offset3") {
            <div class="form-signin-top">
                    <!-- TODO: Put image here -->
                <h4 class="form-signin-heading">@district.name.value</h4>
                @if(message.trim().length > 0) {
                    <div class="alert alert-error">
                        @message.trim();
                    </div>
                }
            </div>
            <pre class="form-signin-bottom">
                @helper.input(login("username")) { (id, name, value, args) =>
                    <input type="text" class="input-block-level" placeholder="Login" name="@name" id="@id" @toHtmlArgs(args) >
                }
                <!-- @helper.inputText(login("username"), 'id -> "username", 'class -> "input-block-level", 'placeholder -> "Login") -->
                @helper.inputPassword(login("password"), 'id -> "password", 'class -> "input-block-level", 'placeholder -> "Password")
                <a href="#">Forgot login/password?</a>

                <button class="btn btn-large btn-primary pull-right" type="submit">Sign in</button>
            </pre>
        }
        </div>
    }
